*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic  ;
    background-color: #393e46;
    background-size: cover;
 

}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    width: 20%;
    float: left;
}

body, html {
    height: 100%;
}


.hero-image{


    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(band2.jpg);
    background-size: cover;
    background-position: center;
    color:rgb(250, 245, 255);

}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
 
    font-weight: 700;
    text-transform: uppercase
}

h1{
    font-size: 7em;
    font-family: "Shadows into Light", sans-serif;

}

h2{
    margin-top: -17px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 1.7em;
    text-align: center;
    font-weight: 400;
}

a{
    margin-top: 20px;
    font-size: 1.3em;
    font-family: "Source Sans Pro", sans-serif;

}

.btn{
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    border: 4px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease out;    
}
#Songs
{
    text-align: center;
    padding-bottom: 40px;
}

#Songs img 
{
    max-width: 100px;
    margin: 10px 20px;

}